<h1>GCCG</h1>

<% calendars.each do |calendar| %>
  <h2><%= link_to calendar.title, routes.calendar_path(calendar.id) %></h2>
  <div>
    <p><%= calendar.starts_on %>〜<%= calendar.ends_on %></p>
  </div>
<% end %>
